
/* BRASA CSS
----------------------------------------------- */

.clear {
   clear: both;
    height: 1px;
    overflow: hidden;
    width: 100%;;
}

#barra-topo {
	width: 100%;
	background: linear-gradient(to bottom, #D94253 0%, #EE3360 100%) repeat scroll 0 0 #EE3360;
	box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.3);
	background-color: #EE3360;
	position: fixed;
	z-index: 99999;
	height: auto;
}


#barra-header{
width: 100%;
overflow: hidden;
background: url("img/bg-header.jpg") repeat scroll center top transparent;
}

#barra-mapa {
width: 100%;
overflow: hidden;
background: url("img/bg-mapa.jpg") repeat scroll center top transparent;
padding: 2em 0 0;
}

#content-mapa {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 940px;
	overflow: hidden;
	min-height: 100px;
	font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
}


#box-below-map {
width:32%;
float: left;
background: linear-gradient(to bottom, #0F85AB 0%, #2EA2C9 100%) repeat scroll 0 0 #0F85AB;
background-color: #0F85AB;
margin-right: 1em;
}

#box-below-map:hover {
background: linear-gradient(to bottom, #0C6D8D 0%, #2786A6 100%) repeat scroll 0 0 #0C6D8D;
background-color: #0C6D8D;
}

#box-below-map.last{
margin-right: 0;
padding: 0;
}

#box-below-map span {
	letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

}

#box-below-map span a {
	padding: 1em;
	font-size: 1.8em;
    color: #C6CDD3;
	display:block;
}


#box-below-map span a:hover {
    color: #FFFFFF;
}

#box-below-map span.box-busca-mapa {
   color: #C6CDD3;
    display: block;
    font-size: 1.2em;
    padding: 0.3em;
}


#box-below-map span.box-busca-mapa:hover {
    color: #FFFFFF;
}


#frase-mapa {
    color: #FFFFFF;
    display: block;
    font-size: 1.7em;
    font-style: italic;
    letter-spacing: 1px;
    padding: 1.2em;
    text-align: center;
	width: auto;
	min-height: 30px;
}

#frase-single-mapa {
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
    font-style: italic;
    letter-spacing: 1px;
    margin: 1em 0 1em 2em;
    text-align: center;
	width:260px;
	min-height: 30px;
	float: left;
	margin-left: 2em;
}


.videosidebar h5.widget-title {
margin: 0 0 10px 0;
}

#prateleira {
	background: url("img/bg-prateleira.jpg") repeat scroll center top transparent;
    margin-left: -20px;
    margin-right: -20px;
	margin-top: 20px;
    overflow: hidden;
	width: auto;
	min-height: 80px;
}

#prateleira ul {
	display: inline-block !important;
    float: left;
    list-style: none outside none;
	margin: 0 0 0 2%;
	width: 102%;
}

#prateleira  ul li {
  background: url("img/bg-botao-prateleira.jpg") repeat scroll center -6px transparent;
    background-color: #F2486F;
	float: left;
    margin: 2em 0.5em;
	min-height: 45px;
	border-radius: 5px;
	box-shadow: 0 6px 8px rgba(30, 30, 30, 0.7);
	padding: 1em 0.5em;
    text-align: center;
    width: 16%;
}

#prateleira  ul li.planos {
    width: 29%;
}


#prateleira  ul li:hover {
box-shadow: 0 2px 5px rgba(30, 30, 30, 0.7);
}

.row-fluid .span2 {
    width: auto !important;
}

#prateleira ul li a {
	color: #FFF;
}

#prateleira ul li.indicadores-qualidade {
	background: url("img/botao-indicadores.png") no-repeat scroll center center #EE3360;
	height:55px;
}

#prateleira ul li.indicadores-qualidade a{
    height: 55px;
    margin: 0 0 0 -65px;
    position: absolute;
    text-indent: -999999px;
    width: 135px;
	
}

#title-querys {
	background: #F9EBC4;
    clear: both;
    margin: 1.5em 0;
    padding: 0;
}

#title-querys.noticias {
background: url("img/bg-title-noticias.png") repeat-x scroll center top transparent;
}

#title-querys.download {
	background: url("img/bg-title-download.jpg") repeat-x scroll center top #E9E416;
}

#title-querys.download a {
	color: #FFF;
}

#title-querys h1 {
	font-size: 1.5em;
	padding: 0 2.5%;
	text-transform: uppercase;
	font-weight: 600;
	width: 25%;
}

#title-querys h1:hover {
background: url("img/btn_hover_query.png") no-repeat scroll right 8px transparent;
}

.download#title-querys h1:hover{
background: url("img/btn_hover_query-downloads.png") no-repeat scroll right 8px transparent;
}

.noticias {
	color: #F26122;
}

.noticias a{
	color: #F26122;
}

.noticias a:hover {
	color: #B54726;
	text-decoration: none;
}

.noticias-bg{
	background-color: #F26122 !important;
}


.noticias-bg:hover{
	background-color: #B54726 !important;
}

.triangulo-noticias {
	border-color:transparent transparent transparent #F26122 !important;
}


.downloads a{
	color: #EBE82B;
}

.downloads a:hover {
	color: #D3D023;
}

.downloads-bg{
	background-color: #EBE82B !important;
}


.downloads-bg:hover{
	background-color: #D3D023 !important;
}

.triangulo-downloads {
	border-color:transparent transparent transparent #FFF !important;
}

.mapas{
	color: #FFFFFF !important;
}

.mapas a{
	color: #C6CDD3;
}

.mapas a:hover {
	color: #FFF;
}

.mapas-bg{
	background-color: #0F85AB !important;
}


.mapas-bg:hover{
	background-color: #0C6D8D !important;
}

#botao-map {
	width:290px;
	float: left;
	background: linear-gradient(to bottom, #0F85AB 0%, #2EA2C9 100%) repeat scroll 0 0 #0F85AB;
	background-color: #0F85AB;
	margin: 1em 0 1em 2em;
	}


#botao-map span {
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}


#botao-map span a {
    color: #C6CDD3;
    display: block;
    font-size: 1.3em;
	line-height: 1.2em;
    padding: 1em;
}

#query-posts {
    margin: 0;
    overflow: hidden;
    width: 104%;
	margin: 0 0 20px;
}

.triangulo{
	border-color:transparent transparent transparent #CCC;
	border-width: 8px;
    position: absolute;
	border-style:solid;
	margin-left: 0.7em;
    margin-top: 0.8em;
}

h1.entry-title-query {
	font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2em;
    margin: 15px 20px 5px;
    text-transform: uppercase;
}

h1.entry-title-query-destacado {
  font-size: 1.6em;
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 20px;
}


span.entry-title-download-query {
	font-size: 1em;
    font-weight: 600;
    line-height: 1.3em;
    margin: 15px 20px 5px;
    text-transform: uppercase;
	float: left;
	width: 47%;
	
}


.entry-content-post-home {
	margin: 0 20px;
	font-size: 0.8em;
	color: #333333;
}

.entry-content-download {
	margin: 0 20px;
	font-size: 0.9em;
	float: left;
	width: 47%;
}

a.leia-mais {
    background: none repeat scroll 0 0 #CCC;
    float: right;
    margin-bottom: 0.7em;
    margin-right: 0.7em;
    padding: 0.2em 0.4em 0.4em;
}

a.leia-mais:hover {
    background: none repeat scroll 0 0 #666;
}

a.download {
    background: url("img/download-icone.png") no-repeat scroll 140px 10px #CCC;
    float: left;
    margin: 15px 20px 10px;
    padding: 1em 1.5em;
    width: 150px;
}

span.mais {
color: #fff;
	font-size: 2.5em;
    font-weight: bold;
display: block;
}

span.botao-download {
    color: #fff;
	font-size: 1.2em;
    display: block;
}

#cada-post {
    float: left;
    margin-right: 3%;
    width: 30%;
	background: #F5E7C2;
}

#cada-noticia{
    float: left;
    margin-right: 5%;
	margin-bottom: 20px;
    width: 45%;
	background: #F5E7C2;
}

#cada-noticia-destacada{
    float: left;
    width: auto;
	background: #F5E7C2;
	width: 95%;
}


#cada-download {
    float: left;
    margin-left: 2%;
    width: 47%;
}


#site-navigation ul.sub-menu {
  overflow: hidden;
    position: absolute;
}


#wpcontent_slider_container .cs-prev, #wpcontent_slider_container .cs-next {
    background: none repeat scroll 0 0 #E92243 !important;
    color: #FFFFFF !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    font-size: 2em !important;
    font-weight: bold;
    padding: 0 10px;
}

#wpcontent_slider .cs-title {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    width: 100%;
}

#wpcontent_slider h4, #wpcontent_slider h4 a {
    color: #FFFFFF;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.entry-header-page-mae {
    background: url("img/bg-titulos-ilustra.png") no-repeat scroll 155px -15px transparent;
    height: 100px;
    line-height: 1.2;
    margin-bottom: -3em;
    padding-top: 2.5em;
}

.entry-header-page-mae .entry-title {
  background: none repeat scroll right top #FCF5D9;
    color: #EC3561;
    font-size: 2.5em;
    font-weight: bold;
    padding: 1.5em 0.65em 1.5em 0;
    text-transform: uppercase;
    width: auto;
}

/* 
ZILLA SHORTCODES
----------------------------------------------- */

.zilla-tabs .zilla-tab {
    background: url("img/logo-bg-abas.png") no-repeat scroll right bottom #F5E7C2;
    border:0 !important;
    padding: 10px;
}



.zilla-tabs .zilla-nav li a {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 #EA1E43 !important;
    border-color: #DFDFDF #DFDFDF -moz-use-text-color !important;
    border-image: none !important;
    border-radius: 3px 3px 0 0;
    border-style: none !important;
    border-width: 0 !important;
	color: #FFF !important;
    display: block;
    height: 30px;
    margin: 3px 0 0 0 !important;
    overflow: hidden;
    padding: 10px 15px 5px !important;
    text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em !important;
    font-family: "Open Sans", Arial, sans-serif;
}

.zilla-tabs .zilla-nav li a:hover {
    background: none repeat scroll 0 0 #D62B4D !important;
	margin: 3px 0 0 0 !important;
}


.zilla-tabs .zilla-nav .ui-tabs-selected a, .zilla-tabs .zilla-nav .ui-tabs-active a {
    background: none repeat scroll 0 0 #BC1823 !important;
    height: 30px;
}


/* Ação Educativa CSS Transparencia Hacker
----------------------------------------------- */
.link-img-destacada {
  height: 150px;
  display: block;
  overflow: hidden;
}

.img-destacada-download {
  height: 230px;
  display: block;
  overflow: hidden;
  width: 40%;
  float: left;
  background: none repeat scroll 0 0 #EBE82B;
}

#query-posts img {
  max-width: 100% !important;
}

h1.entry-title{
	color: #02a6d9;
	font-family: "Open Sans";
	font-weight: 600;
	margin-top:0;
	margin-bottom: 20px
}

/* Content-Municipio - Questionários
----------------------------------------------- */
.form-allowed-tags {
  display: none;
}
.single-municipio .site-content {
  width: 100%;
}
#mapa {
  float: left;
  width: auto;
  margin-bottom: 20px;
}
#fichaibge {
  width: 210px;
  margin-top: 340px;
}
#fichaibge th,
#fichaibge td {
  vertical-align: middle;
  background: #fff;
}

#parte1 td, #parte2 td {
	width: 50%
}

#fichaae {
  width: 95%;
  float: right;
  background: none;
  border: none;
  padding-left: 19px;
	padding-right: 19px;
	padding-top: 0px !important;
	padding-bottom: 0px;
	box-shadow: none;
}

#fichaae .nav-tabs a {
  background: #87b7c4;
  color: #15556e;
}

#fichaae .nav-tabs .active a {
  background: #a2daeb;
  color: #15556e;
}
.search #fichaae {
  width: 355px;
}

.tab-content {
	margin-top: -20px;
}

#parte1.tab-pane, #parte2.tab-pane, #parte3.tab-pane {
	
	padding: 20px;
	background: rgba(162,218,235,1); /* W3C */
}

.fichas .titulo {
  font-size: 1.2em;
  font-weight: bold;
}
.fichas hr {
  margin-bottom: 10px;
  background: #658286;
  border: none;
}

#fichaae .wpcf-field-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display:block;
}

#fichaae .wpcf-field-value {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
}

.table th {
	border: 1px solid #9ac0cb;
}

.fichas table {
    border-collapse: collapse;
    border-color: #9ac0cb;
    border: none;
}
.fichas table td, table th {
    border: 1px solid #9ac0cb;
}
.fichas table tr:first-child th {
    border-top: 0;
}
.fichas table tr:last-child td {
    border-bottom: 0;
}
.fichas table tr td:first-child,
.fichas table tr th:first-child {
    border-left: 0;
    border-bottom: 0;
}
.fichas table tr td:last-child,
.fichas table tr th:last-child {
    border-right: 0;
    border-top: 0;
}

.ibge-Não {
	background-color: #f90000;
	margin: 2px;
}

.ibge-Sim {
	background-color: #60b00f;
	margin: 2px;
}

.ibge-Multi {
	background-color: #aaa;
	margin: 3px 2px;
}

.ibge-Não.sabe, .ibge-Não.pretende {
	background-color: #fd6208;
	margin: 2px;
}

.resposta.label { 
	white-space:normal;
}
#parte3.tab-pane table tr td:first-child{
  width: 60%;
}

#parte3 .progress{
  height: 15px;
  margin-bottom: 5px;
  width: 80%;
  display: inline;
  float: left;
}

.bar-container{
  clear: both;
}

.bar-container label{
  float: left;
  line-height: 15px;
}
#parte3 .bar-container .progress{
  width: 120px;
  float: right;
}
label.bar-porcentagem{
  float: right;
  line-height: 15px;
  margin-left: 2px;
  min-width: 30px;
}
