	
	.main-navigation li ul li a:hover {
		background: #628800;
		color: #fff;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #fff;
		font-weight: bold;
	}
	
	
	
	
	
	
		.main-navigation li {
    float: left;
    font-family: "Open Sans";
    font-size: 0.9em;
    line-height: 1.1em;
    margin: 0 auto;
    position: relative;
    width: auto;
	}
	
		.main-navigation li a {
		color: #eee;
 		text-transform: uppercase;
		padding: 1.55em 1em;
		display: block;
	}
	.main-navigation li a:hover {
		color: #fff;
		background-color: #D52C53;
	}

	
	
	.main-navigation li ul {
		visibility: hidden;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0px;
		z-index:9999999999;
		left: 0px;
	}
	
	.main-navigation ul ul {
    background: none repeat scroll 0 0 #D52A4C;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    display: none;
    float: left;
    left: 0;
    top: 3em;
    z-index: 999999;
}
	
	
	.main-navigation ul li:hover > ul {
		visibility: visible;
	}
	
	.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover {
	color: #21759b;
}


	.menu-toggle {
		display: none;
	}

.main-navigation ul.nav-menu.toggled-on {
	display: inline-block;
}

.menu-toggle {
display: none;

}





.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {

	overflow: hidden;
	list-style: none;
	margin: 1.5em 0 1.5em 3em;
    text-align: left;
	padding: 0;
}

.main-navigation {
	margin: 0 auto;
	   z-index: 10;
	   	clear: both;
	display: block;
	width: 100%;
}

.main-navigation ul {
		margin: 0;
		text-indent: 0;
		list-style: none outside none;
    padding-left: 0;
	}
	
	.main-navigation ul.sub-menu {
    overflow: hidden;
    position: absolute;
}
